@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "droid";
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

:root{
    --cor0: #c6ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontedestaque: 'Bebas Neue', cursive;
    --fonteandroid: "droid", cursive; 
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    margin: 0px;
    background-color: var(--cor0);
    font-family: var(--fontepadrao);
}

header{
    color: white;
    font-family: var(--fontedestaque);
    text-align: center;
    padding: 0px 0px 0px 0px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    box-shadow: -1px 1px 9px 0px black;
    min-height: 150px;
}

header > h1{
    margin: 0px 0px 0px 0px;
    padding: 25px 0px 25px 0px;
    font-size: 3em;
    text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.158);
    font-weight: normal;
}

header > p{
    font-family: var(--fontepadrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding: 0px 10px 0px 10px;
    text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.158);
}

nav{
    text-align: left;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.226);
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    background-color: transparent;
    font-family: var(--fontepadrao);
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
}

main{
    margin: auto;
    text-align: justify;
    background-color: white;
    padding: 0px 0px;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.253);
    border-radius: 0px 0px 10px 10px;
    min-width: 300px;
    max-width: 1000px;
}

article{
    padding: 0px 15px; 
}

article > p {
    text-indent: 20px;
    font-size: large;
    line-height: 2em;
}


article > section > p{
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 0px 0px 0px 0px;
    line-height: 2em;
}

article > h2{
    font-family: var(--fonteandroid);
    color: #22613E;
    padding: 15px 0px 5px 0px;
    font-size: 1.8em;
}

section.android > h3{
    font-family: var(--fonteandroid);
    color: #357252;
    background-image: linear-gradient(to right, var(--cor0), white);
    padding: 5px;
}

strong{
    color: var(--cor4);
    font-weight: bold;
}

a{
    color: var(--cor3);
    text-decoration: none;
    background-color: transparent;
    transition-duration: 1s;
}

a:hover{
    background-color: var(--cor2);
}

a.externo::after{
    content: " \1F517";
}

.video{
    margin: 10px -15px 10px -15px;
    background-color: var(--cor4);
    position: relative;
    padding-bottom: 59%;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    border-radius: 20px 20px 20px 20px;
    font-family: var(--fontepadrao);
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.253);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px 10px;
    border-radius: 20px 20px 0px 0px;
}

aside > p{
    text-indent: 20px;
    padding: 5px;
    font-size: large;
}

aside > ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    padding: 5px;
    columns: 2;
}

footer{
    background-color: var(--cor5);
    color: white;
    padding: 5px;
    font-family: var(--fontepadrao);
}

footer a:hover{
    background-color: var(--cor4);
}

main > p{
    font: normal normal large Arial, Helvetica, sans-serif;
    text-indent: 20px;
    padding: 0px 0px 10px 0px;
}

.foto{
    margin: auto;
    width: 100%;
}

#fotopequena{
    margin: auto;
    max-width: 350px;
}